
body {
    overflow: hidden;
}

.me {
    position: relative;
    margin-top: 4rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.headers {
    font-family: 'Roboto', sans-serif;
    color: #4ea8de;
}

.education {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 750px;
    padding-top: 1rem;
    margin: 0 2.5rem 0 2.5rem;
    
    p {
        // font-weight: 600;
        font-size: larger;
        color: white;
        letter-spacing: .5px;
        text-align: justify;
    }

}